<header class="site-header">
  <a class="site-title" href="/"><img src="https://c.radikal.ru/c36/2105/2f/21d1304c43b6.png"></a>
    
  <nav class="navbar">
    <ul>
      <img src="https://d.radikal.ru/d36/2106/43/f74085fdc13a.png">

      <li class="nav-item"><a href="/about">about</a></li>
      <!-- <li class="nav-item"><a href="/contact">contact</a></li> -->
      <li class="nav-item"><a href="/model">model</a></li>
      <li class="nav-item"><a href="/dancer">dancer</a></li>
      
      <img src="https://a.radikal.ru/a43/2106/19/9ccfa7f6f501.png">

    </ul>
  </nav>

</header>
